<div class=home-container>
    <h1 class="title-label">Find your Jumbo store</h1>
    <div class="home-form">    
        <div class="button-container">
            <button class="w-100 btn btn-lg btn-outline-primary" (click)="displayForm()" *ngIf="!showForm">I want to enter my position</button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-signin" *ngIf="showForm">
            <p>Please enter you location</p>
            <input formControlName="latitude" class="form-control"  placeholder="Latitude" type="number" required>
            <input formControlName="longitude" class="form-control" placeholder="Longitude" type="number" required>
            <button class="w-100 btn btn-lg btn-primary" [disabled]="form.invalid" type="submit">Search</button>
        </form>
    </div>    
    <div class="home-child">
        <app-map [storeDistances]="storeDistances" [location]="location"></app-map>
        <app-storelist [storeDistances]="storeDistances"></app-storelist>
    </div>
</div>